#login{
    background-color:linen;
    width: 50%;
    padding: 10px 50px 10px 50px;
    margin:10px 50px 10px 50px;
}
#zenclass{
    width: 70%;
    margin-left: 50px;
    margin-top: 50px; 
    padding: 20px;
    border: 2px solid black
}
.signup{
    padding: 10px;
    margin: 10px;
    border: none;
}
