#login{
    background-color:whitesmoke;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
#zenclass{
    width: 70%;
    margin-left: 50px;
    margin-top: 50px; 
    padding: 20px;
    border: 2px solid black
}
.signup{
    padding: 10px;
    margin: 10px;
    color: whitesmoke;

}
.image{
    margin: 10px;
    width: 100%;
    
}
.topbar{
    border-bottom: 1px solid green;
}